<!--SEARCH-->
<div class="ui grid" style="flex: 1;">
  <div class="ui container centered">
    <h1 class="ui center aligned header" style="font-family: 'Lobster', cursive; font-size: 4em; margin: 10% 0 3%;">
      <%= image_tag("logo.png", class: "ui small image") %>
      Pointer SE</h1>
    <%= form_for search_path, :html => {:class => "form-inline, search-form"}, method: :get do |f| %>
        <div class="ui huge fluid action input">
          <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search..." %>
          <div class="ui button blue">Search</div>
        </div>
        <div class="ui right aligned container">
          <p>Advanced Search</p>
        </div>
    <% end %>

    <div class="ui relaxed items">
      <% @profiles.each do |profile| %>
          <div class="ui section divider"></div>
          <div class="item">
            <div class="content">
              <%= link_to profile.nome, {controller: "profiles", action: "show", id: profile._id}, class: "header"%>
              <div class="meta">
                RP: <%= profile.ranking_pessoal %>
              </div>
              <div class="description">
                <p><%= profile.descricao %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>