<!DOCTYPE html>
<html>
  <head>
    <title>PointerRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="pointer-header">
      <div class="centered-wrapper">
        <span><strong>Pointer</strong></span>
        &nbsp;&nbsp;
        <span><strong><%= link_to 'Todos Perfis', profiles_path %></strong></span>
        &nbsp;&nbsp;
        <span><strong><%= link_to 'Pesquisar', controller: "search", action: "search" %></strong></span>
      </div>
    </header>
    <content><%= yield %></content>
    <footer></footer>
  </body>
</html>
